#main-content{
    margin-bottom: 20px;
}

.article{
    background-color:#f1f1df;
    padding-bottom: 5px;
}

.article img{
    width:100%;
}

.article h2{
    padding:5px 3px 0 3px;
    margin-bottom: 0;
}

.article p{
    padding:5px 3px 0 3px;
    margin-top: 0;
}

.article a{
    padding:5px 3px 5px 3px;
    font-weight: bold;
}

.article a:hover{
    color:#ff7400;
}

@media(max-width:760px){
    #main-content{
        flex:40%;
    }
}